<%= link_to new_business_on_sale_path do %>
  <div id="business-on-sale-index-page-banner">
    <img 
      src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/banners/BUTTOM_BANNER_2+(2).jpg"
    />
  </div>
<% end %>

<%= react_component("SearchBusinessOnSaleApp", props: @initial_props, prerender: false) %>
