
<div class="jobs-container mdl-grid">
  <div class="filters mdl-cell mdl-cell--3-col">
      <%= render 'partials/jobs_side_menu', categories: @categories  %>
  </div>

  <div class="jobs-container mdl-cell mdl-cell--9-col">
      <div style="visibility: hidden; left: 50%; width: 4rem; height: 4rem;" class="loader mdl-spinner mdl-js-spinner is-active"></div>

    <div class="jobs-wrapper">
      <div class="jobs ui divided items">
        <% jobs.each do |job| %>
          <div class="item">
            <div class="content">
              <a class="header job-title-link" 
                 style="color: #3f51b5;"
                 data-job-id="<%= job.id %>"
              >
                <%= job.title %>
              </a>
              <div class="ui left pointing label teal" style="float: right; ">
                <%= job.views.to_i %> views
              </div><br>
              <span stlye="display: inline;">
                <%= job.company.name %>
                <div class="meta" style="display: inline;">	
                  <span class="city_name">- <%= job.address.city.name %>, <%= job.state.name %></span>
                </div>	
              </span>						
              <div class="description" style="margin: 0;">
                <%= truncate(job.description, length: 200) %>
              </div>
              <div class="extra">
                <div class="ui label pink">
                  <span lang="<%= I18n.locale = :en %>">
                    <%= time_ago_in_words job.created_at %> 
                    <%= t('ago') %>
                  </span>
                  <span lang="<%= I18n.locale = cookies[:locale] %>">
                  </span>
                </div>
                
                <% if job.languages.present? %>
                  <% job.languages.each do |lang| %>
                    <div class="ui label blue">
                      <%= lang.name %> speaker
                    </div>
                  <% end %>
                <% else %>
                  <div class="ui label"><%= job.job_type %></div>
                  <div class="ui label"><%= job.address.city.name %></div>
                <% end %>

              </div>
            </div> <!-- content -->
          </div> <!-- item -->
        <% end %>
      </div> <!-- ui divided items -->
    </div> <!-- jobs-wrapper -->
    <% if @jobs.empty? %>
   
      <div class="blue ui icon message">
        <i class="mail forward icon"></i>
        <div class="content">
          <div class="header">
            No Jobs Found
          </div>
          <br>
          <div class="link-wrapper">
            <%= link_to api_render_jobs_path do %>
              <h2 class="ui header">
                See Jobs from <span class="underline"><%= pretty_print_state(cookies[:state_name]) %></span>
                </h2>
            <% end %>
          </div>
        </div>
    <% else %>
      <div class="pagination-wrapper">
        <%= paginate jobs, window: 5 %>
        <%= page_entries_info jobs, entry_name: "job" %>
      </div>
    <% end %>
  </div> <!-- jobs-container -->
</div>
