<div class="mdl-grid jobs-top-header">
	<div class="filters mdl-cell mdl-cell--3-col">
	</div>
	<div class="jobs-container mdl-cell mdl-cell--9-col">
		<%= render 'partials/jobs_search_bar' %>
		<% if @default_search == true %>
			<div class="jobs-header-container">
				<div class="state-and-jobs-length-info">
					<h1 class="ui header orange" style="margin-top: 1rem;">
						<%= pretty_print_state @state_name %>
					</h1>
					<div class="jobs-length">
						<%= page_entries_info @jobs %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="filters mdl-cell mdl-cell--3-col">
	</div>
</div>