<!-- second row -->
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--10-col">
		<%= render 'jobs_header' %>
	</div>
	<div id='jobs-list-wrapper' class="mdl-cell mdl-cell--10-col">
		<%= render "jobs", jobs: @jobs %>
	</div>
	<!-- <div class="advertising-col mdl-cell mdl-cell--2-col">
		<%#= render 'partials/advertising' %>
	</div> -->
</div>