<style type="text/css">
	body {
		background-color: black;
	}
	button.auth0-lock-submit {
		background-color: #3f51b5 !important;
	}
</style>
<div id="root" style="width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px; box-sizing: border-box;">
    embedded area
</div>
<script>

	var clientId = "<%= ENV['LOCK_CLIENT_ID']%>";
	var domain = "<%= ENV['LOCK_DOMAIN']%>";

	function createLock(redirectTo) {
		return new Auth0Lock(clientId, domain, {
							container: 'root',
							auth: {
								redirectUrl: "<%= ENV['LOCK_CALLBACK_URL'] %>?redirect_to=" + redirectTo,
								responseType: 'code'
				   	  }
				   });
	}
	createLock("<%= @intended_url %>").show();

</script>
