<div class="job-form">
<%= form_for @job do |f| %> 
  <%= f.hidden_field 'state_id', value: @state.id %>
  <div class="step-1-job-form">
    <%= f.fields_for :company_location do |builder| %>
      <fieldset class="company-fieldset">
        <h2 class="orange"><%= t('Salon') %></h1>
        <!-- TODO: Allow the user to choose between creating a company or selecting an existing one -->
        <% if current_user.companies.any? %>
          <label class="select-user-companies">
          <%= t('select existing salon name') %> <br>
            <%= builder.collection_select :company_id, 
                                          current_user.companies.order("name ASC"), 
                                          :id, :name,
                                          { prompt: t('select name') }, 
                                          { class: 'user-companies-select form-control'}
                                          
                                          %>
          <br>
          
          </label>
        <% end %>
        <br>
        <div class="new-company-form-wrapper">
          <label class="input-new-company-name form-inline">
            <div class="form-group">
             <%= builder.fields_for :company do |company_builder| %>
                <%= company_builder.label :name, t('new salon name') %>
                <br>
                <%= company_builder.text_field :name, 
                                              placeholder: t('salon name'), 
                                              size: '62x1',
                                              class: 'company_name_input form-control' %>
             <% end %> 
            </div>
          </label>
        </div>
      </fieldset>

      <fieldset class="address-fieldset">
        <h2 class="orange"><%= t('address') %></h2> 
        <%= builder.fields_for :address do |address_builder| %>
          <div class="form-inline">
            <div class="form-group">
              <%= address_builder.label t('address line 1') %><br>
              <%= address_builder.text_field(
                  :address_line_1,
                  size: '62x1',
                  class: "address_line_1_input form-control",
                )
              %>
            </div> <br>
            <div class="form-group">
              <%= address_builder.label t('address line 2') %><br>
              <%= address_builder.text_field :address_line_2, size: '62x1', class: "address_line_2_input form-control" %>
            </div> <br><br>
            <div class="form-group">
              <%= address_builder.label t('city') %><br>
              <%= address_builder.collection_select(
                :city_id, 
                @state.cities.order("name ASC"), 
                :id, :name,
                { prompt: t('select city') },
                {
                  class: "city-select form-control",
                  'data-validate-required' => "Please select city",
                }
              ) %>
            </div>
          </div> <!-- form-inline -->
        <% end %> <!-- address -->
      </fieldset>
      <br>
     <button class="job-form-next-button ui right labeled icon button">
      <i class="right arrow icon"></i>
      <%= t('next') %>
    </button>
    <% end %> <!-- company_location -->
  </div> <!-- step-1-job-form -->

  <div class="step-2-job-form">
    <fieldset class="job-fieldset">
      <h1 class="orange job-header"><%= t('create job') %></h1>
      <div class="form-inline">
        <div class="form-group">
          <%= f.label t('title') %><br>
          <%= f.text_field(
              :title,
              size: '62x5',
              required: true,
              class: "form-control",
              'data-validate-required' => "Please enter job title",
            )
          %>
        </div><br>
        <div class="form-group">
          <%= f.label t('job title') %><br>
          <%= f.text_field(
              :job_title,
              size: '62x5',
              required: true,
              maxlength: 26,
              class: "form-control",
              'data-validate-required' => "Please enter job title",
            )
          %>
        </div><br>
        <div class="form-group">
          <%= f.label t('description') %><br>
          <%= f.text_area(
              :description,
              size: '62x10',
              required: true,
              class: "form-control",
              'data-validate-required' => "Please enter job description",
            )
          %>
        </div><br>
        <div class="form-group">
          <%= f.label t('contact email') %><br>
          <%= f.email_field(
              :contact_email,
              size: '62x2',
              required: true,
              class: "form-control",
              'data-validate-required' => "Please enter contact email",
            )
          %>
        </div><br>
        <div class="form-group">
          <%= f.label t('job type') %><br>
          <%= f.select :job_type, Job.job_types.keys,{}, {class: "job-type-select form-control"} %>
        </div>

        <div class="form-group post-job-which-language-question-wrapper">
          
          <div class="checkbox-container ui form">
            <div class="grouped fields">
              <h2 class="header">
                <i class="quote left icon"></i>
                <%= t('which-language-question') %>
              </h2>
              <h4 class="sub-header">
                <%= t('can-choose-more-than-one') %>
              </h4>
              <div class="checkbox-wrapper">
                <% @languages.each do |language| %>

                  <label class="custom-control custom-checkbox">
                    <input class="language-checkbox" name="language_<%= language[:id] %>" type="checkbox" class="custom-control-input big-checkbox" value="<%= language[:id] %>">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">
                      <%= language[:name] %>
                    </span>
                  </label>

                  <br>
                <% end %>
              </div>
              <div class="error-box ui pointing red basic label hidden">
                Please choose a language
              </div>
          </div>
      </div>
    </fieldset>
    <br>
    <%= f.submit t('create my job'), class: "create-job-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <br>
    <br>
     <button class="job-form-back-button ui right labeled icon button">
      <i class="left arrow icon"></i>
      <%= t('back') %>
    </button>
  </div> <!-- step-2-job-form -->
  <% end %>
</div> <!-- job-form -->
