<%= form_for @company_location.jobs.new, html: { class: "only-job-form"} do |f| %> 
	<%= f.hidden_field 'state_id', value: @state.id %>
  <h2><%= @company_location.company.name %></h2>
  <%= f.hidden_field :company_location_id %>

	<h1 class="orange job-header"><%= t('create job') %></h1>
	<div class="form-inline">
	  <div class="form-group">
	    <%= f.label t('title') %><br>
	    <%= f.text_field :title, size: '62x5', required: true, class: "form-control" %>
	  </div><br>
	  <div class="form-group">
	    <%= f.label t('job title') %><br>
	    <%= f.text_field :job_title, size: '62x5', required: true, maxlength: 26, class: "form-control" %>
	  </div><br>
	  <div class="form-group">
	    <%= f.label t('description') %><br>
	    <%= f.text_area :description, size: '62x10', required: true, class: "form-control" %>
	  </div><br>
	  <div class="form-group">
	    <%= f.label t('contact email') %><br>
	    <%= f.text_field :contact_email, size: '62x2', required: true, class: "form-control" %>
	  </div><br>
	  <div class="form-group">
	  <%= f.label t('job type') %><br>
	  <%= f.select :job_type, Job.job_types.keys,{}, {class: "job-type-select form-control"} %>
	  </div>
	</div>
	<br>
	<div class="form-group post-job-which-language-question-wrapper">

		<div class="checkbox-container ui form">
			<div class="grouped fields">
				<h2 class="header">
					<i class="quote left icon"></i>
					<%= t('which-language-question') %>
				</h2>
				<h4 class="sub-header">
					<%= t('can-choose-more-than-one') %>
				</h4>
				<div class="checkbox-wrapper">
					<% @languages.each do |language| %>

					<label class="custom-control custom-checkbox">
						<input class="language-checkbox" name="language_<%= language[:id] %>" type="checkbox" class="custom-control-input big-checkbox" value="<%= language[:id] %>">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">
							<%= language[:name] %>
						</span>
					</label>

					<br>
					<% end %>
				</div>
				<div class="error-box ui pointing red basic label hidden">
					Please choose a language
				</div>
		</div>
	<br>
	<%= f.submit t('create my job'), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
<% end %>
