<style type="text/css">
  .state img {
    width: 100%;
    height: 250px;
  }

  h1.Heading-title {
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    letter-spacing: 2px;
    margin: 3rem 0 2rem;
  }
  .state input {
    display: none;
  }
  .state img:hover {
    cursor: pointer;
    box-shadow: 0px 2px 45px 0 rgba(0,0,0,0.7);
  }
</style>

<div class="mdl-grid" id="choose-state-for-job-post">
  <header style="height: 47px; background-color: #fafafa;"></header>

  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <%= form_tag("/") do %>
      <div id="step-1">
        <h1 class="Heading-title">
          <%= t('where should we make your job post?') %>
        </h1>
        <div class="mdl-grid">
          <%= link_to choose_company_location_jobs_path(state_name: @california.name, state_id: @california.id), class: "state mdl-cell mdl-cell--4-col" do %>
            <label>
              <input type="radio" name="state" value="los-angeles">
              <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/california.jpg">
            </label>
          <% end %>
          <%= link_to choose_company_location_jobs_path(state_name: @new_york.name, state_id: @new_york.id), class: "state mdl-cell mdl-cell--4-col" do %>
            <label>
              <input type="radio" name="state" value="new-york">
              <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/newyork.jpg">
            </label>
          <% end %>
          <%= link_to choose_company_location_jobs_path(state_name: @illinois.name, state_id: @illinois.id), class: "state mdl-cell mdl-cell--4-col" do %>
            <label>
              <input type="radio" name="state" value="chicago">
              <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/chicago.jpg">
            </label>
          <% end %>
        </div> 
      </div> <!-- step-1 -->
    <% end %>
  </div> <!-- col-10 -->
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>
