<div class="choose-existing-location-wrapper" style="text-align: center;">
  <h1 class="orange"> <%= t('my salons') %> </h1>
  <div class="ui four column grid">
    <div class="company-location-wrapper row center aligned grid ui cards">
      <% @company_locations.each do |company_location| %>
        <div class="card">
          <div class="content">
            <div class="header"><%= company_location.company.name %></div>
            <div class="description">
              <%= company_location.address.address_line_1 %>
              <%= company_location.address.address_line_2 %>
              <%= company_location.city.name %>, <%= company_location.city.zip %>
            </div>
          </div>
          <%= link_to new_jobs_path(state_name: params[:state_name], 
                                    state_id: params[:state_id], 
                                    location_id: company_location.id) do %>
          <div class="create-job ui bottom attached button">
            <i class="add icon"></i>
            <%= t('create job here') %>
          </div>
          <% end %>
        </div> <!-- card -->
      <% end %>
    </div> <!-- row -->
  </div> <!-- ui four column grid -->
  <h2 class="ui dividing header"><a class="anchor" id="types"></a></h2>
  <div class="new-location-wrapper">
    <%= link_to new_jobs_path(state_name: params[:state_name] || @state_name, 
                                  state_id: params[:state_id] || @state_id, 
                                  location_id: :new) do %>
    <button class="new-location-button massive ui button">
      <%= t('create job in new salon') %>
    </button>
  <% end %>
</div>