<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col">
	</div>
	<div class="mdl-cell mdl-cell--4 col mdl-cell--12-col-tablet">
		<div class="ui icon message post-job-language-notice">
      <i class="alarm outline icon"></i>
      <div class="content">
        <p><%= t("post_job_language_notice") %></p>
      </div>
    </div>
	<% if @company_location == "new" %> <!-- if user chose a company + location to create job -->
		<%= render 'company_location_and_job_form' %>
	<% else %>
	  <%= render 'only_job_form' %>
	<% end %>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
	</div>
</div>