<div class="col-md-1">
</div>

<div class="job-info-wrapper col-md-7 col-sm-12">

  <div class="ui raised segment">
    <a class="ui orange ribbon label">Title</a>
    <span class="job-title"><%= @job.title %></span>
    <br><br>
    <a class="ui blue ribbon label">Description</a>
    <span><%= @job.description %></span><br><br>
    <a class="ui blue ribbon label">Company</a>
    <div class="ui segments">
      <div class="ui segment">
        <p><%= @job.company.name %></p>
      </div>
      <div class="ui segment">
        <p><%= @job.company_location.address.address_line_1 if @job.company_location.address.address_line_1.present? %></p>
        <p><%= @job.company_location.address.address_line_2 if @job.company_location.address.address_line_2.present? %></p>
        <p><%= "#{@job.address.city.name}, #{@job.state.name}" %> </p>
      </div>
    </div>
    <a class="ui blue ribbon label">Contact</a>
    <a href="mailto:<%= "#{@job.contact_email}" %>">
      <%= @job.contact_email %>
    </a>
  </div>

</div>

<div class="advertising-wrapper-in-job-show-page col-md-4">
  <%= render 'partials/advertising' %>
</div>