<div id="kyocharo-ad">
	<img 
		src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/banner_cards/kyocharo_ad.jpeg"
		usemap="#Kyocharo-ad-map"
	/>
	<map name="Kyocharo-ad-map" id="Kyocharo-ad-map">
    <area alt="" title="" href="http://bds.chicagokyocharo.com/board/contentsView.php?idx=1200513" shape="rect" coords="96,85,137,120" />
    <area alt="" title="" href="http://www.nykyocharo.com/index.php" shape="rect" coords="145,85,182,120" />
    <area alt="" title="" href="http://www.kyocharoamerica.com/index.php" shape="rect" coords="190,85,230,120" />
	</map>
</div>
<!-- 
	main.css.scss / ad.js
 -->