<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-wide mdl-card post-jobs mdl-shadow--2dp">
      <div class="mdl-card__title post-jobs">
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="jobs/choose_state" class="fluid ui blue-button button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <%= t :post_jobs %>
        </a>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-wide mdl-card find-jobs mdl-shadow--2dp">
      <div class="mdl-card__title find-jobs">
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <% if cookies[:location].present? && cookies[:state_name].present? %>
        <%= link_to t('find jobs'), api_jobs_path(cookies[:location], cookies[:state_name]),
             class: 'fluid ui button orange mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
    <div class="demo-card-wide mdl-card sale-business mdl-shadow--2dp">
      <div class="mdl-card__title sale-business">
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="/business_on_sales" class="fluid ui blue-button button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          <%= t :business_on_sale%>
        </a>
      </div>
    </div>
  </div>
</div>