
<style>
  .welcome-page-featured-jobs.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .welcome-page-featured-jobs.swiper-wrapper {
  	margin-bottom: 3.5rem;
  }
  .featured-jobs.swiper-slide {
    text-align: center; 
    
    border-radius: .5em;
  }
  .featured-jobs.swiper-slide .job-title-link {
  	font-size: 1.1em;
  	text-decoration: underline;
  }

  a.job-title-link {
  	cursor: pointer; 
	}
</style>
	
	<div 
		class="ui horizontal divider"
		style="margin-bottom: 1.4em;"
	>
     <%= t('Featured Jobs') %>
  </div>

	<div class="welcome-page-featured-jobs swiper-container">
    <div class="welcome-page-featured-jobs swiper-wrapper">

    	<% @featured_jobs.each do |job| %>
	      <div class="featured-jobs swiper-slide">
	      	<div class="panel panel-info" style="margin-bottom: 0;">
					  <div class="panel-heading" style="height: 1.7em; padding: 0.4em 0; font-size: 0.9em;">
					  	<%= 
					  		truncate(
					  			"#{job.company_location.company.name}",
					  			length: 26
					  		)
					  	 %>
					  </div>
					  <div class="panel-body" style="height: 67px; padding: 10px;">
					    <a class="job-title-link" 
					       data-job-id="<%= job.id %>">
					    	<%= 
					    		truncate(
					    			pretty_print_job_title(
					    				job.job_title
					    			),
					    			length: 26
					    		) 
					    	%>	
					    </a>
					    <p>
						    <small>
						    	<%= truncate(
						    		remove_new_line_extra_white_space(job.description), 
						    		length: 44
						    	) %>
						    </small>
					    </p>
					  </div>
					</div>
	      </div>
	    <% end %>
        
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <h2 class="ui dividing header"></h2>
	</div>
