<footer>
			<div class="mdl-grid footer-row">
				<div class="mdl-cell mdl-cell--3-col">
					<strong><%= t('find us on facebook and twitter') %></strong>
					<ul>
						<li>
							<a href="">Facebook</a>
						</li>
						<!-- <li>
							<a href="">twitter</a>
						</li> -->
					</ul>
				</div> <!-- col-3 -->
				<div class="mdl-cell mdl-cell--3-col">
					<strong> <%= t('about us') %></strong>
					<ul>
						<li>
							<%= t('intro') %>
						</li>
					</ul>
				</div> <!-- col-3 -->
	  		<div class="mdl-cell mdl-cell--6-col">
	  			<p> 
	  				<strong>
	  					<%= t('sign up with us') %>
	  				</strong>
	  			</p>
	  			<div class="mdl-grid">
	  				<div class="mdl-cell mdl-cell--8-col">
	  					<input 
	  					id="subscribe-footer"
	  					type="email" 
	  					placeholder="<%= t :'your email' %>">
	  				</div>
	  				<div class="mdl-cell mdl-cell--4-col">
	  					<input class="subscribe-button button-primary" type="submit" name="" value='<%= t :submit %>'>
	  				</div>
	  			</div>
	  		</div> <!-- col-9 -->
			</div>	
		</footer>