<div class="<%= params[:controller].split('/').join('_') %> jobs-side-menu ui link list">
	<% categories.each do |category| %>
		<div class="item">
			<div class="header">
				<%= t category.name.downcase.to_sym %>
			</div>
			<div class="category-wrapper">
				<% category.list.each do |category| %>
					<a class="category-item" href="#">
						<div class="item" style="color: rgba(0,0,0,0.7)">
							&nbsp;
							<span class="item-name">
							<%= category['name'] %>
							 </span>
							(<%= category['count'] %>)
						</div>
					</a>
				<% end %>
			</div>
		</div>
	<% end %>
</div>