<%= form_tag(
      api_render_jobs_path,
      method: :get,
      class: "jobs-search-bar-container mdl-grid",
      style: "padding-left: 0;",
      id: "search-form",
      remote: controller_name != "welcome",
    ) do
%>
	<div class="keyword-search mdl-cell mdl-cell--6-col" style="margin-left: 0;">
    <strong>
      <span id='what' class="orange">
        <%= t :what %>
      </span>
    </strong>
		<div class="ui fluid icon input">
      <input
        class="job-company-search"
        name="jobCompanySearch"
        type="text"
        placeholder="<%= [t('job title'), t('keywords'), t('company')].to_sentence(last_word_connector: " or ") %>"
        value="<%= @job_company_search %>"
      >
		</div>
	</div>
	<div class="job-search mdl-cell mdl-cell--6-col" style="margin-left: 0;">
    <strong>
      <span id='where' class="orange">
        <%= t :where %>
      </span>
    </strong>
		<div class="ui fluid action input">
      <input
        class="address-search"
        type="text"
        name="addressSearch"
        placeholder="<%= [t('city'), t('state'), t('zipcode')].to_sentence(last_word_connector: " or ") %>"
        value="<%= @addressSearch %>"
      >
      <button class="<%= controller_name == 'welcome' ? 'welcome-job-search-button' : 'job-search-button' %> job-search-button ui button">
        <%= t(:search).capitalize %>
      </button>
		</div>
	</div>
  <div class="job-search-bar-notification">
  <%#= t("please search in english") %>
  </div>
  <div class="job-search-bar-notification">
  <%#= t("all user posts are in english") %>
  </div>
<% end %>
