
<div class="main-page-jobs-search">
  <div class="mdl-grid jobs-top-header">
    <div class="filters mdl-cell mdl-cell--3-col">
    </div>
    <div class="jobs-container mdl-cell mdl-cell--9-col">
      <!-- job search form -->

      <%= render "partials/jobs_search_bar" %>

      <div class="jobs-header-container">
        <h1 id="job_list_state_name_header" class="ui header orange" style="margin-top: 1rem;">
          <%= pretty_print_state @state_name %>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="main-jobs-container mdl-grid">
  <div class="filters mdl-cell mdl-cell--3-col">
    <% if @categories %>
      <%= render 'partials/jobs_side_menu', categories: @categories %> 
    <% end %>
  </div>
  <div class="jobs-container mdl-cell mdl-cell--9-col">
    <div id="jobs-list-wrapper">
      <div class="jobs ui divided items">
        <% jobs.each do |job| %>
          <div class="job item">
            <div class="content">
              <a class="header" style="color: #3f51b5;">
                <a class="job-title-link" data-job-id="<%= job.id %>">
                  <%= truncate(job.title.capitalize, length: 55) %>
                </a>
              </a>
              <div class="ui left pointing label teal" style="float: right; ">
                <%= job.views.to_i %> <%= t :views %>
              </div><br>
              <span stlye="display: inline;">
                <%= job.company_location.company.name %>
                <div class="meta" style="display: inline;">	
                  <span class="city_name">- <%= job.company_location.address.city.name %></span>
                </div>	
              </span>						
              <div class="welcome-description" style="margin: 0;">
                <%= truncate(job.description, length: 70) %>
              </div>
              <div class="extra" style="margin-top: 0; ">
                <div class="ui label pink">
                  <span lang="<%= I18n.locale = :en %>">
                    <%= time_ago_in_words job.created_at %> 
                    <%= t :ago %>
                  </span>
                  <span lang="<%= I18n.locale = cookies[:locale] %>">
                  </span>
                </div>

                <% if job.languages.present? %>
                  <% job.languages.each do |lang| %>
                    <div class="ui label blue">
                      <%= lang.name %> speaker
                    </div>
                  <% end %>
                <% else %>
                  <div class="ui label"><%= job.job_type %></div>                
                  <div class="ui label">
                    <%= job.company_location.address.city.name %>
                  </div>
                <% end %>
                
              </div>
            </div> <!-- content -->
          </div> <!-- item -->
        <% end %>
      </div> <!-- ui divided items -->
    </div> <!-- jobs-wrapper -->
    <br>
    <br>
    <a href="<%= "state/#{cookies[:location]}/#{cookies[:state_name]}/jobs" %>">
      <button class="blue fluid ui button more-jobs-button">
        <%= t :view_more_jobs %>
      </button>  </div> 
    </a>

</div>
