<div id="welcome-page-business-on-sale-top-container" class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3><%= t :business_on_sale %></h3>
  </div> <!-- col-12 -->
  
  <%= link_to business_on_sales_path do %>
    <div id="welcome-page-business-on-sale-banner" class="col-xs-12">
      <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/banners/BUTTOM_BANNER_1.jpg" 
      />
    </div>
  <% end %>

  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid">
      
    <div class="mdl-cell mdl-cell--12-col">
      <!-- Swiper -->
      <div class="business-sale-swiper-container swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/61/329-22.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Heather's Nail Salon
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('50000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/83/5.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Glamcode Beauty Bar
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('80000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/business_on_sale/images/22/tt3.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Tanning Salon - quick sale!!
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('85000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/business_on_sale/images/21/ch2.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Hair Salon For Sale
                </h4>
                <a class="ui blue label">
                  Contact For Price
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/business_on_sale/images/19/g1.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Glendale Salon
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('31990') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/60/329-1.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Roberto's Hair Studio
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('19500') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/74/8.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Expert Hair Design By Lek
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('31000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/67/11.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Salón De Belleza Beauty Salon
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('15000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/40/326-51.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Nail salon relocation for sale
                </h4>
                <a class="ui blue label">
                 Contact For Price
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/35/326-21.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Established beauty salon
                </h4>
                <a class="ui blue label">
                 <%= number_to_currency('32000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/43/327-31.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Nail Salon with Hair Stylist
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('59000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/41/327-14.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Tanning salon for sale
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('85000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/28/325-3.jpg">
             <div class="details">
              <div>
                <h4 class="ui header">
                  Versailles Salon
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('15000') %>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://mysalonusa.s3.amazonaws.com/uploads/business_on_sale/images/14/vannuys3.jpg">
            <div class="details">
              <div>
                <h4 class="ui header">
                  Beauty salon for sale (van nuys)
                </h4>
                <a class="ui blue label">
                  <%= number_to_currency('27000') %>
                </a>
              </div>
            </div>
          </div>
        <!-- Add Pagination -->
      </div> <!-- swiper container -->
    </div> <!-- col-10 -->
  </div> <!-- mdl-grid -->
</div> <!-- 12 col -->
</div> <!-- mdl-grid -->

<div class="pagination-wrapper">
  <div class="business-sale-swiper-pagination"></div>
</div>





