  <%= render 'partials/banner_cards' %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-phone">
      <%= render partial: 'partials/featured_jobs' %>
      <%= render partial: 'partials/main_page_jobs', locals: { jobs: @jobs } %>
      <%= render 'partials/welcome_business_on_sale' %>
    </div>
 </div>

 <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone">
  <%= render 'partials/advertising' %>
</div>
