<div class="used-items-top-links ui grid container">
	<div class="ui three steps">
      <div class="step">
        <i class="upload icon"></i>
        <div class="content">
          <div class="title">
          	<a href="">
          	<%= t("Post My Used Item For Sale") %>
          	</a>
          </div>
        </div>
      </div>
      <div class="active step">
        <i class="world icon icon"></i>
        <div class="content">
          <div class="title">
          	<%= t("View Used Items List") %>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="used-items-root-container">
	<%= react_component("SearchUsedItemApp", props: { initialSearch: "illinois"}, prerender: false) %>     
</div>
