$(document).on("turbolinks:load", function(){
    var STRIPE_PUBLISHABLE_KEY 
      = "<%= ENV['STRIPE_PUBLISHABLE_KEY']%>"; // force precompile

    $('form.plan-form').on("submit", function onPlanChosen(event) {
        event.preventDefault();
        var form = $(this);

        var handler = StripeCheckout.configure({
          key: STRIPE_PUBLISHABLE_KEY,
          image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
          name: "MySalon USA",
          description: "Token Purchase",
          allowRememberMe: false, 
          token: function setToken(token) {
            form.find('[name=stripe_token]').val(token.id);
            form.off('submit').submit();
          },
        });

        handler.open({
          amount: form.find('[name=price_cents]').val()

        });
    });
});
