$(document).on("turbolinks:load", function(){
	var clientId = "<%= ENV['LOCK_CLIENT_ID']%>";
	var domain = "<%= ENV['LOCK_DOMAIN']%>";

  function createLock(redirectTo) {
    redirectTo = encodeURIComponent(redirectTo || window.location.href);

    return new Auth0Lock(clientId, domain, {
      auth: {
        redirectUrl: "<%= ENV['LOCK_CALLBACK_URL'] %>?redirect_to=" + redirectTo,
        responseType: 'code'
      },
      languageDictionary: {
        title: logInLocal()
      },
      theme: {
        logo: 'http://image.shutterstock.com/z/stock-vector-modern-nail-salon-logo-242948065.jpg',
      }
    });
  }

  function logInLocal() {
    var locale = getCookie('locale');
    if (!locale || locale == 'en') {
      return "Sign In"
    }
    if (locale == 'ko') {
      return "로그인"
    }
    if (locale == 'mo') {
      return "нэвтрэн"
    }
    if (locale == 'vi') {
      return 'đăng nhập'
    }
  } 

	$('#sign-in').on('click', function(){
    createLock().show();
	}); 
  $('#sign-in-2').on('click', function(){
    createLock().show();
  });

  $("#choose-state-for-job-post a.state").on("click", function(event) {
    if (getCookie('current_user_id')) { return; }

    event.preventDefault();
    var href = $(this).attr('href');

    createLock(href).show();
  });
});
