/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require swiper
 *= require initial_settings
 *= require remodal_default_theme
 *= require remodal
 *= require main
 *= require pricing_tables
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'material';
@import 'jobs';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "semantic-ui";
@import 'typeaheadjs';
@import 'autosuggest';
@import 'business_on_sale_modal_and_index';
@import 'businessOnSaleForm';
@import 'ReactMenu';
@import 'loading_circle';
@import 'paymentPlanStyle';
@import 'welcome_page_business_on_sale';
@import 'featured_jobs_welcome_page';
@import 'halogen_loader_react';
@import 'jobs_search_bar';
@import 'choose_language_choose_state';
@import 'used_items';
@import 'media_queries';

/* welcome pop-up modal + nav bar + footer */

/* font-family: 'PT Sans', sans-serif; */

* {
  font-family: 'Open Sans', sans-serif;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: black;
}

.orange { color: #ff6a00; }

.hidden { display: none; }

input[type="email"] {
	width: 100%;
	height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;

  &:focus {
  	border: 1px solid #33C3F0;
  	outline: 0;
  }
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"] {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}

input[type="submit"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; 
  &:hover, &:focus {
	  color: #FFF;
	  background-color: #1EAEDB;
	  border-color: #1EAEDB;
  }
 }

footer {
  .company_name {
    margin: 0 0 2rem;
    text-align: center;
  }
	background: black;
	color: white;	
	padding: 40px 0;
	width: 100%;
	margin-top: 7.7rem;
	.footer-row {
		max-width: 70%;
		margin: 0 auto;
	}
	a { 
		color: #33C3F0;
		text-decoration: none;
	}
	ul {
		padding: 0;
		li {
			list-style-type: none;
		}
	}

	input {
		color: #666;
	}
}

/* WELCOME POP UP MODAL
  div[data-remodal-id=modal] {
    background: url("");
    background-size: contain;
    height: 300px;
  }
*/

button.remodal-button {
  padding: .6rem;
  margin-right: .27rem;
}


/* navbar */
a.logo {
  color: white;
}
span#usa { 
  color: #f2711c;
  font-weight: bold;
}

a.logo:hover {
  text-decoration: none; 
  color: #f2711c;
}

span.underline {
  text-decoration: underline;
}
a.mdl-navigation__link {
  font-size: 1.1rem;
}

.mdl-layout__header {
  background-color: white;
}

a.logo { color: black;}

a.mdl-navigation__link { color: black !important; }

a.logo-i {
  background-color: orange !important;
  font-size: 2rem !important;
}

.mdl-layout-spacer { 
  color: black;
  }
.blue-button {
  background-color: #3f51b5 !important;
  color: white !important;
}

/* flash message */
.ui.info.message.flash {
  z-index: 2;
  margin: 0;
}

/* Business on sale swiper for main page*/
.pagination-wrapper {
  width: 100%;
}

