.autosuggest-container {
  margin-top: 2.7em;
  text-align: center;
}
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
ul.react-autosuggest__suggestions-list li:hover {
  background-color: #ddd; 
}

.react-autosuggest__suggestions-container { 
  position: absolute;
  z-index: 4;
  width: 100%;
  background: white;
}