/* modal */

.modalContainer {
	position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.77);
  z-index: 1;
  top: 0;
  
  .popUpModal {
	  margin: 0 auto;
	  background: white;
	  position: relative;
	  top: 12%;
	  height: 65%;
	  
	  .exit-icon {
	  	position: absolute;
	  	left: 0;
	  	font-size: 1.7em;
	  	top: 0.2em;
	  }

	  .description {
	  	word-break: break-all;
	  }
	};
};

/* index */

.business-on-sale-container {
  max-width: 95%;
}
.demo-card-square.mdl-card {
  width: 100%;
  height: 300px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

.mdl-grid.business-on-sale-container {
  text-align: center;
}
.mdl-card__supporting-text {
  margin: auto;
}
.card-header-wrapper {
  margin: 0 auto;
}

.salonCard.ui.comments {
	margin: 0.7rem;
}

/* business on sale index banner */
#business-on-sale-index-page-banner {
	cursor: pointer;
	width: 80%;
	img { width: 100%; }
}

/* 0 business on sale found message container */

.business-on-sale.message-container {
	margin-top: 1.2em;
	.message-wrapper {
		width: 57%;
		margin: 0 auto;
		.suggestion {
			margin-top: 1em;
			p, h4 {
				margin: 0;
			}
		}
	}
}