.choose-city-container {
	.choose-city-menu {
		text-align: center;
		width: 90%;
		margin: 0 auto;
		.city {
			margin-bottom: 1em;
      cursor: pointer;
		}
		h1 {
			margin: 2em;
		}
		.la-image, .ny-image, .chi-image {
	  	width: 100%;
	  	height: 270px;
	  	&:hover {
	  		cursor: pointer;
	  	}
		}	
	}
}

.city:hover {
  cursor: pointer;
}

#business-on-sale-form {
	position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  overflow-y: scroll;
  cursor: all-scroll;

  .form-wrapper {
  	width: 80%;
    margin: 0 auto;
    background: white;
    margin-top: 10em;

    form {
    	width: 100%;
    	margin-left: 1.5%;
    	button.back {
    		margin-top: 1em;
    	}
    	.form-header {
    		margin: 1.7em 0;
    		width: 90%; 
    	}
    	.ui.form {
    		width: 90%;

    		.upload-pictures {
    			margin-top: 1em;
    			width: 90%;
    			margin-left: 1em;
    			h2 {
    				color: #42ab9e;
    			}
    		}
    	}
    }
    button.post {
    	margin-top: 1em 0 5em;
    }
  }
}

