/* choose-language choose-state separate from initial settings */

#choose-language-modal, #choose-state-modal {
	
	input[type="radio"] { 
		display: none;
	}	
	.state-col, .language-col {
		padding: 0.1em;
		img {
			width: 100%;
			height: 150px;
		}
		img:hover {
			cursor: pointer;
		}
	}
}