/* 
	business on sales index loader
*/

.halogen-loader-container {
		width: 100%;
		height: 0;
    position: relative;
    top: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
	.halogen-loader-wrapper {
		width: 50%;
		margin: 2.7em auto 0;
		.halogen-loader {
			width: 10%;
			margin: 0 auto;
		}
	}

}