.initial-settings-modal.modal {
  background: rgba(0,0,0,0.7);
  .modal-dialog {
    width: 65%;
  }
  #initial-settings {
    max-width: 100%;
    text-align: center;
    label {
      cursor: pointer;
    }
    input[type=radio] {
      display: none;
    }
    #step-1 {
      img {
        width: 100%;
        height: 150px;
      }
    }
    
    #step-2 {
      .language {
        
        img {
          width: 100%;
          height: 150px;
        }
      }
    }
  }

}