/* jobs modal, index, job show, job.company_location form, new job form */

                        /* jobs modal */

.job-modal-description {
  word-break: break-all !important;
}
.job-modal-label {
  margin-right: 1.5em !important;
}

/* jobs main/welcome page */
.jobs-container .jobs .welcome-description {
  margin-top: .5em !important; 
}

.jobs .description {
  width: 75%;
}

.job.item {
  padding-bottom: .4em !important;
}

/* show page */
  .jobs-wrapper {
    position: relative;
    top: -4.2em;
  }
  .job-info-wrapper {
    margin-top: 4rem;
  }

  .advertising-wrapper-in-job-show-page {
    margin-top: 3rem;
  }
  .job-title {
    font-size: 1.2rem;
  }

.job-title-link {
		color: #3f51b5;
    text-decoration: none;
    font-size: 1.4rem;
}
.job-title-link:hover {
	color: #f16334; 
}
.description {
  white-space: pre-line;
}
.job-search-button.ui.button, .ui.button.welcome-page-search-button {
	background: #3f51b5; 
  color: white;
}
.job-search-button.ui.button:hover {
	background: #2e3d8d;
}

.job-company-search, .address-search {
	height: 3.2rem;
}

.job-company-search, .address-search { width: 100%;}

#what, #where {
	font-size: 1.27rem;
}

#job_list_state_name_header {
	font-size: 2.27rem;
}

.more-jobs-button {
	height: 3.2rem;
}

.category-item {
	margin-bottom: .2rem;
	.item {
		margin: .2rem 0;
	}
}
.category-item:hover {
	font-color: #3f51b5;
	text-decoration: underline;
}

                    /* choose location form */

.company-location-wrapper {
	margin-top: 1.7rem !important;
}
.choose-existing-location-wrapper { 
	margin-top: 4rem;
}
.new-location-button {
	background-color: #3f51b5 !important;
	color: white !important;
	margin-top: 1.7rem !important;
}
.new-location-button:hover {
	opacity: 0.88;
}
.choose-existing-location-wrapper .create-job.button {
	color: white;
	background-color: #f16334;
}
.choose-existing-location-wrapper .create-job.button:hover {
	opacity: 0.88;
}
.post-job-language-notice p {
  color: #018989;
  font-size: 1.2em;
};
.jobs-new {
  form.new_job fieldset {
    border: none;
  }
  .form-group {
    text-align: left;
  }
  .job-form {
    margin-top: 4rem;
  }
  select.city-select {
    width: 25rem !important;
  }
  select.user-companies-select { width: 25rem; }
  select.job-type-select { width: 25rem !important; }

  .create-job-button { width: 100%; }
}

.add-phone-number {
  margin-top: 1em;
  font-size: 0.9em;
  label {
    cursor: pointer;
  }
}
input.create-job-button {
  font-size: 0.94em !important;
}

.post-job-which-language-question-wrapper {
  .header {
    margin: 1em 0 0;
    font-size: 1.4em;
    color: #018989; 
  };
  .sub-header {
    margin: 0.7em;
    font-size: 1.1em;
  };
  .checkbox-container {
    margin-top: .1em;
    label {
      margin: 0.5em 0;
    }
    .custom-control-description {
      font-size: 1.4em;
    }
  };
};
