                              /* banner cards */

.mdl-card__supporting-text h5 {
  margin: 0 0 .5rem;

}
.demo-card-wide.mdl-card {
  width: 100%;
  text-align: center;
}
.demo-card-wide > .mdl-card__title {
  color: black;
  margin-bottom: 0;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
  padding: 1rem;
}

.demo-list-item {
  width: 300px;
  font-size: 1rem;
}

.mdl-list__item { 
  font-size: .9rem;    
}

.business-sale-swiper-container { 
    overflow: hidden;
 }

  .business-sale-swiper-container img, .cities-swiper-container img, 
  .new-products-swiper-container img { 
   width: 100%; 
   height: 150px;
 }

 .swiper-container .description, .swiper-container .price { 
   text-align: center; 
  }

  .swiper-container .price {
    color: #948c8c;
  }

  .swiper-pagination-clickable.swiper-pagination-bullets {
    text-align: center;
    margin-top: 2rem;
  }
  .swiper-pagination-bullet { 
    width: 9px;
    height: 9px;
  }

  .demo-card-wide > .mdl-card__title.post-jobs {
    color: #fff;
    height: 300px;
    background: url('https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/banner_cards/post_jobs.jpg') center / cover;
  }

  .demo-card-wide > .mdl-card__title.find-jobs {
    color: #fff;
    height: 300px;
    background: url('https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/banner_cards/find_jobs2.jpg') center / cover;
   }

  .demo-card-wide > .mdl-card__title.sale-business {
    color: #fff;
    height: 300px;
    background: url('https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/banner_cards/Business_On_Sale_2.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  div.mdl-card__title.post-jobs {
    height: 155px;
  }
  
  .mdl-card a.button {
    font-size: 1.7rem; /* or 1.5rem */
    padding: 1rem 1rem 2.7rem;
  }

                                /* advertising */

  #kyocharo-ad {
    margin-top: 1.4em;
    img {
      width: 100%;
    }
  }
  .fix-ad { 
    position: fixed;
    top: 12em;
  }

  /* media query for advertising */
  @media (max-width: 991px) { 
    #kyocharo-ad {
      display: none;
    }
  };

