/* 
Extra small devices Phones (<768px)
Small devices Tablets (≥768px)
Medium devices Desktops (≥992px)
Large devices Desktops (≥1200px)
 */

@media (min-width: 992px) {
	.autosuggest-container {
	  margin: 5.7em 0;
	}	
};

@media (max-width: 991px) { 
	div.advertising-col {
		display: none;
	};	

	.filters.mdl-cell.mdl-cell--3-col {
		display: none;
	};

	#business-on-sale-index-page-banner {
		width: 100%;
		margin: 0 auto;
	};
};

@media (max-width: 767px) {
	#welcome-page-business-on-sale-top-container {
		padding: 0;
		#welcome-page-business-on-sale-banner {
			padding: 0;
		}
	}

	.business-on-sale.message-container {
		.message-wrapper {
			width: 100%;
		}
	}

	#choose-language-modal, #choose-state-modal, .initial-settings-modal.modal {
		.modal-dialog {
			width: 95%;
		}
	}


} 
