 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

  .choose-business-on-sale-plan-container {
    .header {
      height: 6em;
    }
  }
  
 	.choose-business-on-sale-plan-container .title
 	{
 		margin: 4em;
 		text-align: center;
 	}
 	.choose-plan-container > .title {
	 	text-align: center;
	 	margin: 2em;
 	}
	.choose-business-on-sale-plan-container,
	.choose-plan-container {
		font-family: 'Open Sans Condensed', sans-serif;
		background: white;
	}

  .business-on-sale-plan-wrapper,
  .job-plan-wrapper {
    margin: 0 auto;
  }

  .choose-business-on-sale-plan-container .plan,
  .choose-plan-container .plan { 
  	width: 250px; height: 420px; 
  }

  .choose-business-on-sale-plan-container #fdw-pricing-table,
  .choose-plan-container
  #fdw-pricing-table
  {
    width: auto;
  }

  #business-on-sale-plan-box, #job-plan-box{
  	width: 250px;
  	height: 420px;
  }

  #fdw-pricing-table > div > div.plan,  {
  	margin-bottom: 1em;
  }

  .plan-wrapper.business-on-sale {
 		margin: 0 auto;
 	}

  #job-plan-box { 
    height: 450px;

    .header { 
      height: 130px;
    }
  }

 
@media (max-width: 767px) { 
 	#business-on-sale-plan-box {
 		left: 15%
 	}
}

 