@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.react-nav-menu {
	font-family: 'Abril Fatface', cursive;
	position: fixed;
	z-index: 4;
	right: 0;
	a.menu {
		font-size: 2em;
		padding: .5em;
	}
	.tokens {
		color: #ff4081;
	}
}