/* used_items top & footer links, index, modal, media queries  */

/*                top links + footer links on used_items         */
.used-items-top-links {
	margin-top: 7em !important;
}

.used-items-footer-links {
	margin-top: 2.2em !important;
}


/*                   used_items index                         */
.used-items.container {
	.length-header {
		width: 98%;
		margin: 1em auto;
	};
	margin-top: 2em;
	.used-item.card {
		margin-top: 1.3em;
		margin: 1.3em auto 0;
		.extra.content { 
			text-align: center;
		};
	};
	.pagination-container {
		margin-top: 2em;
		text-align: center;
	}
};


/*                    used_items modal                          */
.displayModal {
	z-index: 2;
	opacity: 0.9 !important;
}

.ui.basic.modal.in {
	top: 20%;
}

#used-item-modal {
	.modal-footer {
		border-top: none;
	}
}

/*                        media queries                            */
@media (max-width: 767px) {
	.used-items-top-links {
		margin-top: 1em !important;
	}

	.used-items-root-container {
		margin-top: 8em;
		margin-bottom: 4em;
	}
}
