#welcome-page-business-on-sale-top-container {
	cursor: pointer;
	
	#welcome-page-business-on-sale-banner {
		img {
			width: 100%;
		};
	};

	.swiper-slide {
		.details {
			text-align: center;
			.ui.header {
				margin: 0.4em 0;
			};
		};
	};

};