
<div class="choose-business-on-sale-plan-container">
  <div class="title">
    <h1><%= t('token intro') %></h1>
  </div>
  <header>
    <div id="fdw-pricing-table" class="mdl-grid">
      <div class="plan-wrapper business-on-sale">
        <% @business_on_sale_plans.each_with_index do |plan, i| %>
          <div id="business-on-sale-plan-box"class="plan plan<%= "#{i + 1}" %>">
            <%= form_tag(checkout_callback_path, class: "plan-form") do %>
              <%= hidden_field_tag "price_cents", plan.price_cents %>
              <%= hidden_field_tag "stripe_token", '' %>
              <%= hidden_field_tag "type", 'business_on_sale' %>
              <label for="<%= "plan_#{plan.id}"%>">
                <div class="header">
                  <%= t(plan.name.downcase) %>
                </div>
                <div class="price"><%= plan.price.format %></div>
  <!--               <div class="monthly">one time pay</div> -->
                <ul style="word-wrap: break-word;">
                  <li><%= pluralize(plan.total_tokens, 'post') %></li>
                  <li>
                    <b>
                      <% if plan.name.downcase == 'single pay' %>
                        <%= t('single pay description') %>
                      <% elsif plan.name.downcase == 'group package' %>
                        <%= t('group package description') %>
                      <% end %>
                    </b>
                  </li>
                </ul>
                <%= submit_tag('pay', class: "stripe-button-el signup") %>
                <input class="plan-radio hidden" checked="checked" type="radio" name="plan_id" id="<%= "plan_#{plan.id}" %>" value="<%= "#{plan.id}" %>">
              </label>
            <% end %> 
          </div>
        <% end %>
      </div>
    </div>
  </header>
</div>



