<!-- plans for jobs -->
<div class="choose-plan-container">
  <div class="title">
    <h1><%= t('token intro') %></h1>
  </div>
  <header>
    <div id="fdw-pricing-table" class="mdl-grid">
      <div class="job-plan-wrapper">
        <% @plans.each_with_index do |plan, i| %>
          <div id="job-plan-box" class="plan plan<%= "#{i + 1}" %> mdl-cell mdl-cell--4-col">
            <%= form_tag(checkout_callback_path, class: "plan-form") do %>
              <%= hidden_field_tag "price_cents", plan.price_cents %>
              <%= hidden_field_tag "stripe_token", '' %>
              <%= hidden_field_tag "type", 'job' %>
              <label for="<%= "plan_#{plan.id}"%>">
                <div class="header"><%= t(plan.name) %></div>
                <% if plan.name == 'Standard' %>
                  <div class="price"><%= plan.price.format %></div>
                  <div class="monthly"><%= t('one time pay') %></div>
                  <ul style="word-wrap: break-word;">
                    <li><%= t('one post') %></li>
                    <li><b><%= t('you can upload one post on our website') %></b></li>
                  </ul>
                <% elsif plan.name == 'Gold' %>
                  <div class="price"><%= plan.price.format %></div>
                  <div class="monthly"><%= t('one time pay') %></div>
                  <ul style="word-wrap: break-word;">
                    <li><%= t('five posts') %></li>
                    <li><b><%= t('you can upload 5 posts on our website anytime') %></b></li>
                  </ul>
                <% elsif plan.name == 'Platinum' %>
                  <div class="price"><%= plan.price.format %></div>
                  <div class="monthly"><%= t('one time pay') %></div>
                  <ul style="word-wrap: break-word;">
                    <li><%= t('ten posts') %></li>
                    <li><b><%= t('you can upload 10 posts on our website anytime') %></b></li>
                  </ul>
                <% end %>
                
                <%= submit_tag('pay', class: "stripe-button-el signup") %>
                <input class="plan-radio hidden" checked="checked" type="radio" name="plan_id" id="<%= "plan_#{plan.id}" %>" value="<%= "#{plan.id}" %>">
              </label>
            <% end %> 
          </div>
        <% end %>
      </div>
    </div>
  </header>
</div>
