<div class="choose-language-modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Change Language</h2>
      </div>
      <div class="modal-body">
        <div id="choose-language-modal">
					<%= form_tag("/change_language") do %>
						<div>
				      <div class="">
					      <div class="language-col col-xs-12 col-sm-offset-1 col-sm-5">
						      <label class="language mdl-js-button">
						        <input name="locale" type="radio" value="en">
						        <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/flags/usaflag.jpg"
						        />
						        English
						      </label>
					      </div>
					      <div class="language-col col-xs-12 col-sm-5">
						      <label class="language">
						        <input name="locale" type="radio" value="ko">
						        <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/flags/koreanflag.jpg"
						        />
						        Korean
						      </label>
					      </div>
					    </div>

					    <div class="">
					      <div class="language-col col-xs-12 col-sm-offset-1 col-sm-5">
						      <label class="language">
						        <input name="locale" type="radio" value="mo">
						        <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/flags/Mongolia_Large_Flag.png"
						        />
						        Mongolian
						      </label>
						    </div>
						    <div class="language-col col-xs-12 col-sm-5">
						      <label class="language">
						        <input name="locale" type="radio" value="vi">
						        <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/flags/vietnam_flag.gif"
						        />
						        Vietnamese
						      </label>
						    </div>
						  </div>
						  
						</div>
					<% end %>
				</div> <!-- choose-language-modal -->

      </div> <!--modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="choose-state-modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Change State</h2>
      </div>
      <div class="modal-body">
        <div id="choose-state-modal">
					<%= form_tag("/change_state") do %>
						<div>
				      <br>
					      <div class="state-col col-xs-12 col-sm-4">
						      <label class="state">
						        <input name="location" type="radio" value="california">
						        <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/california.jpg"
						        />
						      </label>
					      </div>
					      <div class="state-col col-xs-12 col-sm-4">
						      <label class="state mdl-js-button">
						        <input name="location" type="radio" value="new york">
						        <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/newyork.jpg"
						        />
						      </label>
					      </div>
					      <div class="state-col col-xs-12 col-sm-4">
						      <label class="state">
						        <input name="location" type="radio" value="illinois">
						        <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/chicago.jpg"
						        />
						      </label>
						    </div>
						</div>
					<% end %>
				</div> <!-- choose-state-modal -->
      </div> <!--modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




