<div class="ie-detected modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sorry!</h4>
      </div>
      <div class="modal-body">
          <div class="alert alert-success">
            <strong>You are using Internet Explorer</strong><br>
            To use our service, please consider using below browsers.
          </div>

          <div class="col-xs-4">
            <a href="https://www.google.com/chrome/browser/desktop/index.html?brand=CHBD&gclid=Cj0KEQjwuOHHBRDmvsHs8PukyIQBEiQAlEMW0M00nTFJA2ZfznvxdyAK18OTGhp72EFwXZv9re0Vw04aApvV8P8HAQ&dclid=CPCIxYves9MCFVM4Twod6BgIag"
              style="cursor: pointer;">
              <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/browser-images/chrome.jpeg" 
              />
            </a>
          </div>
           <div class="col-xs-4">
            <a href="https://www.mozilla.org/en-US/firefox/new/" style="cursor: pointer;">
              <img 
                src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/browser-images/firefox.jpeg" 
              />
            </a>
          </div>
           <div class="col-xs-4">
            <a href="https://www.apple.com/safari/" style="cursor:pointer;">
              <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/browser-images/safari.jpeg" 
              />
            </a>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->