<div class="initial-settings-modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="ui header" style="text-align: center; font-size: 1.5rem;font-weight: 100;"> 
          Welcome to MySalon <span style="font-size: 1.4rem; color: #f2711c;">USA</span>
        </h2>
      </div>
      <div class="modal-body">
        <div id="initial-settings">
          <%= form_tag "/initial_settings" do %>
              <div id="step-1">
                <h2 style="font-size: 2rem;">Choose Your Location</h2>
                <br>
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--4-col">
                    <label> 
                      <input name="location" type="radio" value="california">
                      <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/california.jpg" />
                    </label>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col">
                    <label> 
                      <input name="location" type="radio" value="new york">
                      <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/newyork.jpg" />
                    </label>
                  </div>
                   <div class="mdl-cell mdl-cell--4-col">
                    <label> 
                      <input name="location" type="radio" value="illinois">
                      <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/cities/chicago.jpg" />
                    </label>
                  </div>
                </div>
              </div> <!-- step-1 -->

              <div id="step-2">
                <!-- <h2 class="ui header" style="font-size: 1.4rem;font-weight: 100;"> 
                  We connect local communities <span style="font-size: 1.4rem; color: #f2711c;">together.</span>
                </h2> -->
                <h2 class="ui header" style="font-size: 2rem;font-weight: 100;"> 
                  <span style="font-size: 2rem; color: #f2711c;">One</span> Community.
                </h2>
                <a id="back" class="mdl-button mdl-js-button mdl-button--primary" style="margin: .5em;">&lt; Back</a>
                <h2 style="margin: 0.5em;">Choose Your Language</h2>
                <br>
                <div class="row">
                  <div class="col-xs-12 col-sm-offset-2 col-sm-4"> 
                    <label class="language mdl-js-button">
                      <input name="locale" type="radio" value="en">
                      <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/flags/usaflag.jpg"
                      />
                      English
                    </label>
                  </div>

                  <div class="col-xs-12 col-sm-4"> 
                    <label class="language">
                      <input name="locale" type="radio" value="ko">
                      <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/flags/koreanflag.jpg"
                      />
                      Korean
                    </label>
                  </div>
                </div> <!-- row -->

                <div class="row">
                  <div class="col-xs-12 col-sm-offset-2 col-sm-4">
                    <label class="language">
                      <input name="locale" type="radio" value="mo">
                      <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/flags/Mongolia_Large_Flag.png"
                      />
                      Mongolian
                    </label>
                  </div>

                  <div class="col-xs-12 col-sm-4"> 
                    <label class="language">
                      <input name="locale" type="radio" value="vi">
                      <img src="https://s3.us-east-2.amazonaws.com/mysalonusa/uploads/flags/vietnam_flag.gif"
                      />
                      Vietnamese
                    </label>
                  </div>
                </div> <!-- row -->
              </div>
          <% end %>
        </div> <!--initial-settings -->

      </div><!-- modal-body -->
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->