<!DOCTYPE html>
<html>
<head>
  <title>Job Search | Salon Jobs. Your Area. | MySalon USA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <script src="https://cdn.auth0.com/js/lock/10.7.3/lock.min.js"></script>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body class="<%= "#{controller_name}-#{action_name}" %>">
<% if flash[:notice] || flash[:alert] %>
<%= render 'partials/flash' %>
<% end %>

<div class="mdl-layout--no-desktop-drawer-button mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header ">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
      <%= link_to ' MySalon', "/", class: 'logo'  %>
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer">
        <span id="usa">USA </span>
        <span class="logo_state_name" style="margin-left: 1rem;">        
          <% if cookies[:state_name].present? %>
            <%= t pretty_print_state("#{cookies.try(:[], :state_name)}").downcase %>
          <% end %>
        </span>
      </div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only mdl-layout--no-drawer-button ">
        <% if current_user %>
        <!-- FREE at the moment -->
          <!-- <a class="mdl-navigation__link">
            <span class="ui orange"> 
              <%= current_user.tokens_left %> <%= t 'tokens left' %>
            </span>
          </a>
          <a class="mdl-navigation__link">
            <span class="ui orange"> 
              <%= current_user.business_on_sale_tokens_left %> <%= t 'business on sale left' %>
            </span>
          </a> -->
        <% end %>

        <a class="mdl-navigation__link change_state_link" href="#">
          <%= t 'change state'%>
        </a>
        <a class="mdl-navigation__link change_language_link" href="#">
          <%= t 'change language'%>
        </a>

        <% if current_user %>
          <%= link_to t('sign out'), logout_path, method: :delete, class: 'mdl-navigation__link' %>
        <% else %>
          <%= link_to t('sign in'), sign_in_path, id: 'sign-in', class: 'mdl-navigation__link' %>
        <% end %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer"> <!-- cell -->
    <nav class="mdl-navigation">
      <% if current_user %>
        <!-- FREE at the moment --> 
        <!-- <a class="mdl-navigation__link">
          <span class="ui orange"> 
            <%= current_user.tokens_left %> <%= t 'tokens left' %>
          </span>
        </a>
        <a class="mdl-navigation__link">
          <span class="ui orange"> 
            <%= current_user.business_on_sale_tokens_left %> <%= t 'business on sale left' %>
          </span>
        </a> -->
      <% end %>
      <%= link_to t(:post_jobs), choose_state_jobs_path, class: "mdl-navigation__link" %>
      <a class="mdl-navigation__link" href="/business_on_sales/new">
        <%= t 'sale/post my business' %>
      </a>
      <% if cookies[:location].present? && cookies[:state_name].present? %>
        <%= link_to t('find jobs'), api_jobs_path(cookies[:location], cookies[:state_name]), class: "mdl-navigation__link" %>
      <% end %>
      <a class="mdl-navigation__link" href="/business_on_sales">
        <%= t 'business on sale' %>
      </a>
      <a class="mdl-navigation__link change_state_link" href="#">
        <%= t 'change state'%>
      </a>
      <a class="mdl-navigation__link change_language_link" href="#">
        <%= t 'change language'%>
      </a>

      <% if current_user %>
        <%= link_to t('sign out'), logout_path, method: :delete, class: 'mdl-navigation__link' %>
      <% else %>
        <%= link_to t('sign in'), sign_in_path, id: 'sign-in-2', class: 'mdl-navigation__link' %>
      <% end %>
    </nav>
  </div>

  <%= react_component("NavApp", props: @nav_menu_app_props.merge({
    language: { 
      menu: t('menu'),
      click_on: t('click to open'),
      click_off: t('click to close'),
      home: t('home'),
      tokens_left: t('tokens left'),
      business_post_left: t('business on sale left'),
      search_jobs: t('search jobs'),
      search_business_on_sale: t('search business on sale'),
      sale_or_post_my_business: t('sale/post my business'),
      post_jobs: t('post_jobs')
    }
  }), prerender: false) %>


  <main class="mdl-layout__content">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header remodal-bg">
      <main class="mdl-layout__content"> 
        <%= yield %>
        <% if controller_name == 'welcome' %>
          <%= render 'partials/footer' %>
        <% end %>
      </main>
    </div>
  </main>
</div>

<div class="modal fade" id="used-item-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <%= render partial: "layouts/initial_settings_modal" %>
 <%= render partial: "layouts/choose_language_choose_state_modal" %>
 <%= render partial: "layouts/ie_detected_modal" %>
  <script>
    window.intercomSettings = {
      app_id: "tqk65xzz"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/tqk65xzz';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

  <% if Rails.env.production? %>
    <a title="Google Analytics Alternative" href="http://clicky.com/101042100"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101042100); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101042100ns.gif" /></p></noscript>
  <% end %>
</body>
</html>
